// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;
$v-textfield-border: 1px solid (v-shade 0.7);
$v-textfield-border-radius: 3px;


// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
  
  .round-corner{
	border-radius: 10px;
	}
	.panel-with-3d{
	-moz-box-shadow: 5px 5px 8px #99b3ff;
    -webkit-box-shadow: 5px 5px 8px #99b3ff;
    box-shadow: 5px 5px 8px #99b3ff;
	}
	
  .spacious{
    margin: 3px;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
	}	
	.v-contexthelp-bubble.right .popupContent .helpText{
	-moz-box-shadow: 5px 5px 8px #999;
    -webkit-box-shadow: 5px 5px 8px #999;
    box-shadow: 5px 5px 8px #999;
	}
	
	.v-contexthelp-bubble .popupContent .helpText{
	background: #B9B9B9;
    border: 1px solid #d0d0d0;
    border-width: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    padding: 8px;
    text-shadow: #FFF 0px 0px 0px;
    font-size: 13pt;
	}
	
	.v-panel-caption {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px;
    line-height: 36px;
    border-bottom: 1px solid #d5d5d5;
    background-color: #227FB5;
    background-image: -webkit-linear-gradient(top, #5AAAFA 0%, #0D333A 100%);
    background-image: linear-gradient(to bottom,#5AAAFA 0%, #0D333A 100%);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
    border-radius: 	4px 4px 0 0;
	}
	
}

.v-label .error{
	background: #ffffc0; /* Pale yellow */
	color:#FF0000;
}

