<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" debug="tru">
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<loggers>
		<logger name="com.next" level="DEBUG">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.hibernate" level="WARN">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.springframework" level="WARN">
			<appender-ref ref="Console" />
		</logger>

		<root level="ERROR">
			<AppenderRef ref="Console" />
		</root>
	</loggers>
</configuration>